<div fxLayout="column" fxLayoutAlign="space-evenly none">

  <div class="introduce">
    <div class="about-image">
      <img src="assets/images/about-me.jpg" alt="about me" />
    </div>
    <div>
      <h4 class="widget-title">
        <span>Yvan Barbaria</span>
      </h4>
    </div>
    <div>
      <span class="widget-sub-title">Senior
        <span class="text-highlight">Software</span> Developer</span>
    </div>
    <div>
      <span class="widget-sub-title">FullStack Developer at
        <span class="text-highlight text-highlight-agile-main">Ez-nergy</span>
      </span>
    </div>
  </div>

  <div class="knowledge">
    <h4 class="widget-title">
      <span>
        <span class="text-highlight">01.</span> KNOWLEDGE & TECHNOLOGIES</span>
    </h4>
    <div fxFlexFill>

      <div fxflexfill fxLayout="row wrap" fxlayoutgap="10px grid">

        <div fxflex="25" class="technology-card">
          <img alt="HTML5" src="assets/images/technologies/html5.svg" />
          <span itemprop="name">Html 5</span>
        </div>
        <div fxflex="25" class="technology-card">
          <img alt="CSS3" src="assets/images/technologies/css3.svg" />
          <span itemprop="name">CSS3</span>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="http://sass-lang.com/" target="_blank">
            <img alt="SASS" src="assets/images/technologies/sass.svg" />
            <span itemprop="name">SASS</span>
          </a>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="https://v4-alpha.getbootstrap.com/" target="_blank">
            <img alt="Bootstrap" src="assets/images/technologies/bootstrap.svg" />
            <span itemprop="name">Bootstrap</span>
          </a>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="https://angular.io/" target="_blank">
            <img alt="Angular" src="assets/images/technologies/angular.svg" />
            <span itemprop="name">Angular</span>
          </a>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="https://ionicframework.com/" target="_blank">
            <img alt="Ionic" src="assets/images/technologies/ionic.svg" />
            <span itemprop="name">Ionic</span>
          </a>
        </div>

        <div fxflex="25" class="technology-card">
          <img alt="Javascript" src="assets/images/technologies/javascript.svg" />
          <span itemprop="name">Javascript</span>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="https://jquery.com/" target="_blank">
            <img alt="Ajax" src="assets/images/technologies/ajax.svg" />
            <span itemprop="name">Ajax</span>
          </a>
        </div>
        <div fxflex="25" class="technology-card">
          <img alt=".Net WPF - C#" src="assets/images/technologies/net-wpf.svg" />
          <span itemprop="name">.Net WPF - C#</span>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="https://msdn.microsoft.com/en-us/library/bb308959.aspx" target="_blank">
            <img alt=".Net Linq" src="assets/images/technologies/net-linq.svg" />
            <span itemprop="name">.Net Linq</span>
          </a>
        </div>
        <div fxflex="25" class="technology-card">
          <img alt=".Net Entity Framework" src="assets/images/technologies/entity-framework.svg" />
          <span itemprop="name">.Net EF</span>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2017" target="_blank">
            <img alt="SQL" src="assets/images/technologies/sql.svg" />
            <span itemprop="name">SQL</span>
          </a>
        </div>
        <div fxflex="25" class="technology-card">
          <a href="https://www.mysql.com/" target="_blank">
            <img alt="MySQL" src="assets/images/technologies/mysql.svg" />
            <span itemprop="name">MySQL</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
