<a href="#" class="toggle-menu" id="toggle-menu">
    <i id="toogle-main-flip" class="fa fa-chevron-down"></i>        
</a>
<div class="navigation">
    <!-- class="main-navigation responsive-menu main-navigation-toogle-ul" -->
    <ul class="navigation toogle-ul" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <li>
            <a id="about-link-menu" x-scroll-to="about" href="javascript:void(0);" itemprop="url">
                <i class="fa fa-pencil"></i>About me</a>
        </li>
        <li>
            <a id="projects-link-menu" x-scroll-to="projects" href="javascript:void(0);" itemprop="url">
                <i class="fa fa-paperclip"></i>Portfolio</a>
        </li>
        <li>
            <a id="relatedlinks-link-menu" x-scroll-to="relatedlinks" href="javascript:void(0);" itemprop="url">
                <i class="fa fa-link"></i>Related Links</a>
        </li>
        <li>
            <a href="https://emy-xor.me/?share=contact" itemprop="url">
                <i class="fa fa-envelope"></i>Get in touch</a>
        </li>
    </ul>
</div>